/* You can add GLOBAL STYLES to this file, and also import other style files */

p {
  color: royalblue;
}

h3 {
  font-size: 2rem;
}

.p-global {
  width: 60%;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
